@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Items Page";
}
@model List<LostAndFound2.Models.Item>
<div class="text-center">
    <h1 class="display-4">Items List</h1>
    @foreach (LostAndFound2.Models.Item item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=@item.PhotoLink alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category : @item.Category</li>
                <li class="list-group-item">color : @item.Color</li>
                <li class="list-group-item">Finder phone : @item.Owner.Phone</li>
            </ul>
        </div>
    }
</div>